*{
    font-family: system-ui, -apples-system;
    font-size: large;
}

.container{
    display: grid;
    grid-column: auto;
    grid-row: auto;
}

div{
    border: 2px blue solid;
    padding: 5px;
    margin: 5px;
    border-spacing: 3px;
    background-color: grey;
    color: white;
    text-align: right;
}
 div:nth-child(2n+1){
    text-align: left;
    text-shadow: 2px 2px 1px pink;
 }

[class=container]{
    background-color: white;
}

.container .item1{
    grid-row: 1;
    grid-column: 1;
}

.container .item2{
    grid-row: 1;
    grid-column: 2;
}

.container .item3{
    grid-row: 2;
    grid-column: 1;
}

.container .item3{
    grid-row: 2;
    grid-column: 2;
}
